# Environment Variables & Credentials
.env
.env.local
*.key
*.pem

# Python
__pycache__/
*.py[cod]
venv/
.venv

# IDE & Editors
.vscode/
.idea/
.DS_Store

# PlatformIO
.pio/
.platformio/
build/

# Logs & Temp
*.log
logs/
uploads/
temp/
tmp/
